* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Metal Mania", cursive;
}
body {
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
h1 {
  align-self: flex-start;
  width: 100%;
  text-align: center;
  color: white;
}
.container {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: darkgray;
  padding: 20px;
}
.albumDisponibles {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width:30%;
  overflow-y: scroll;
  align-self: flex-start;
  padding: 0 20px;
  /* background-color: #fff; */
}
.albumDisponibles::-webkit-scrollbar {
  -webkit-appearance: none;
}

.albumDisponibles::-webkit-scrollbar:horizontal {
  width: 10px;
}
.albumDisponibles::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.albumDisponibles::-webkit-scrollbar-track {
  border-radius: 10px;
}
.album {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  width: 100%;
  margin: 10px 0;
}
.album p {
  padding: 10px;
  width: 100%;
  text-align: center;
  background-color: #c60e0e;
}
.album img {
  max-width: 100%;
  width: 100%;
}

.reproductor {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  /* background-color: #594f4f; */
  width: 70%;
  align-self: flex-start;
}
.caja1 {
  display: flex;
  flex-direction: row;
  margin: 50px 0px 50px 0px;
}
.cromo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.cromo > img {
  text-align: center;
  max-width: 100%;
  width: 100%;
  /* width: 200px;
  height: 200px; */
}

.lista {
  align-items: center;
  text-align: left;
  margin-left: 50px;
  margin-right: 25px;
}

.lista > h1 {
  text-align: center;
  color: red;
}
ul{
  list-style-type: none;
}
.lista > ul > li {
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}
.lista > ul > li:hover{
  color: red;
}

section {
  width: 75%;
}
section div {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: space-between;
}
input {
  width: 100%;
}
.controles {
  width: 100%;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.controles > div > img {
  width: 32px;
  cursor: pointer;
}
.crearbanner {
  background-color: #ac4343;
  width: 100%;
}
footer {
  background: #fff;
}
